
    <h2>Ingresa los datos</h2>
    <form action="/productos" method="post">
        <label for="title">Nombre del producto</label>
        <input type="text" name="title" id="title">
        <label for="price">Precio</label>
        <input type="number" name="price" id="price">
        <label for="thumbnail">Link</label>
        <input type="text" name="thumbnail" id="thumbnail">
        <input type="submit" value="">
    </form>
