<h2>Productos</h2>



    <div>
        {{#if productsArray}}
        <table>
            <tr><th>Producto</th><th>Precio</th><th>Foto</th></tr>
            {{#each productsArray}}
            <tr>
                <td>{{this.title}}</td>
                <td>{{this.price}}</td>
                <td><img src="{{this.thumbnail}}"></td>
            </tr>
            {{/each}}
        </table>
        {{else}}
            <h1>No hay datos</h1>
        {{/if}}
    </div>
